body {
    background-color: #f1f1f1 !important;
}

h3.dtk {
    background-color: chartreuse;
    color: red;
}

.dtk {
    position: relative;
}

.dtk-tiles {
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
}

.dtk-tiles:hover {
    transform: scale(1.01);
}

.dtk-centered {
    display: flex !important;
    justify-content: center;
}

.dtk-cover {
    object-fit: cover;
    width: 100%;
}

.dtk-white {
    color: white !important;
}